.vs/
bin/
obj/

src/Basket/Basket.API/bin/
src/Basket/Basket.API/obj/

src/Catalog/Catalog.API/bin/
src/Catalog/Catalog.API/obj/

src/WebApp/AspnetRunBasics/bin/
src/WebApp/AspnetRunBasics/obj/

src/Ordering/Ordering.API/bin/
src/Ordering/Ordering.API/obj/

src/Ordering/Ordering.Core/bin/
src/Ordering/Ordering.Core/obj/

src/Ordering/Ordering.Infrastructure/bin/
src/Ordering/Ordering.Infrastructure/obj/

src/Ordering/Ordering.Application/bin/
src/Ordering/Ordering.Application/obj/

src/Common/EventBusRabbitMQ/bin/
src/Common/EventBusRabbitMQ/obj/

